.header {
    margin: 20px 0px 0px 0px;
    border-bottom: 3px solid black;
}

#detailhome {
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-style: italic;
    color: white;
    background-color: black;
    border: 4px solid black;
    border-radius: 10%;
    margin: 0px 0px 20px 20px;



}

.content {
    margin-left: 50px;
    font-size: 15px;
    font-style: italic;
}


#detailhome:hover,
#detailhome:focus {
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-style: italic;
    color: black;
    background-color: white;
    border: 4px solid black;
    border-radius: 10%;
}

.card {
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.allimg {
    width: 300px;

}

.cardbody {
    padding: 0px 50px 0px 50px;
    width: 280px;
}

.commentbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#comment {
    width: 285px;
    height: 30px;
    font-style: italic;
}

#writter {
    width: 150px;
    height: 30px;
    font-style: italic;
}

#password {
    width: 150px;
    font-style: italic;
    height: 30px;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    width: 300px;
}

.save,
.edit,
.delete {
    height: 30px;
    width: 100px;
    font-style: italic;
    font-weight: 900;
    background-color: black;

    color: white;
}



.delete:hover,
.delete:focus,
.edit:hover,
.edit:focus,
.save:hover,
.save:hover {
    height: 30px;
    width: 100px;
    font-style: italic;
    font-weight: 900;
    background-color: white;

    color: black;
}


#review {
    font-style: italic;
    font-size: 15px;
    padding-left: 30px;
}

#reviewcontent {
    font-size: 15px;
    font-style: italic;
    padding-left: 50px;
}

#latestreview {
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    border-bottom: solid 2px;
    margin-left: 25px;
    width: 500px;
}

#line {
    font-size: 15px;
    font-style: italic;
    border-bottom: solid 1px;
    padding-bottom: 30px;
    padding-left: 50px;

}

#top {
    font-size: 15px;
    font-style: italic;
    padding-top: 30px;
    padding-left: 30px;
}

.bigcards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

}

.unrelease {
    font-weight: 700;
    color: darkblue;
    font-style: italic;
}