/* modal */
#modal {
    display: none;
}

/* 'modal' 외부의 영역입니다. */
#modal.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    /* 100%로 변경했습니다. */
    width: 100%;
    /* 100%로 변경했습니다. */
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
    z-index: 1;
}

#modal_up {
    display: none;
}

/* 'modal' 창입니다. */
#modal_up.active {
    color: black;

    display: block;
    word-wrap: break-word;
    position: fixed;
    
    padding: 20px;
    
    width: 200px;
    height: 100px;

    z-index: 2;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 20px;
}
/* modal */

#homebox {
    text-align: center;
    padding: 50px 0px 50px 0px;
    border-bottom: solid black 3px;
}

#home {
    background-color: black;
    border: none;
    width: 150px;
    height: 50px;
    color: white;
    font-style: italic;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px rgb(212, 212, 212);
    border-radius: 30px;
}

#home:hover {
    background-color: #fff;
    border: none;
    width: 150px;
    height: 50px;
    color: #000;
    font-style: italic;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px rgb(212, 212, 212);
    border-radius: 30px;
    border: 4px solid black;
}

#home:focuss {
    background-color: white;
    border: none;
    width: 150px;
    height: 50px;
    color: black;
    font-style: italic;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px rgb(212, 212, 212);
    border-radius: 30px;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

#img {
    width: 400px;
    margin: 20px 20px 20px 20px;
}

#card {

    width: 440px
}

#overview {

    padding: 0px 20px 20px 20px;
    width: 400px;
    font-size: 20px;
    margin: 0px 20px 20px 20px;


}

#reviewbox {

    border-radius: 10px;
    width: 400px;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;

}

.overviewtitle {
    font-weight: 900;
    font-size: 40px;
}

.alltime,
.rate {
    font-style: italic;
    font-size: 25px;
    font-weight: 700;
}

#comment {
    width: 340px;
    height: 30px;
}

.login {
    display: flex;
    flex-direction: row;
}

#writter,
#password {
    width: 165px;
    height: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.save,
.edit,
.delete {
    width: 115px;
    height: 30px;
    background-color: black;
    color: white;
    margin: 0px 0px 0px 0px;
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
}

.save:hover,
.edit:hover,
.delete:hover,
.save:focus,
.edit:focus,
.delete:focus {
    width: 115px;
    height: 30px;
    background-color: white;
    color: black;
    margin: 0px 0px 0px 0px;
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
}

#latestreview {
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    border-bottom: 2px solid black;
}

#top {
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
    border-bottom: 1px solid black;
    margin-top: 10px;
}

#content {
    font-style: italic;
    font-size: 15px;
}

#id {
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
}

.writterid {
    font-style: italic;
    font-weight: 900;
    font-size: 15px;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 300px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
