/* desktop용 css */
/* 카드 본문 */
.card-body {
     /* 안쪽에 여백을 준다. 시계방향으로 위 오른쪽 아래 왼쪽 순서이다. */
    padding: 0px 18px 0px 18px;
    height : 1000px
   
}

 /* 카드제목 */
.cardtitle {
    /* 폰트 사이즈, 글씨 크기 */
    font-size: 20px; 
}

/* 줄거리 */
.overview {
    font-size: 15px; 
    font-style: italic; /* 이탤릭체 */
}

.vote_average {
    font-size: 15px;
}

.card {
    /* 넓이 */
    width: 300px;

    /* 바깥 여백, 시계방향 */
    margin: 0px 8px 56px 8px; 
}

.cards {
    /* 창의 크기에 따라 자동 정렬, 한 방향 레이아웃 시스템 */
    display: flex; 

    /* 수평방향으로 앞쪽에서 부터 정렬 */
    align-content: flex-start; 

    /* 자동 줄바꿈 */
    flex-wrap: wrap; 

    /* 가로축 : 중앙 */
    justify-content: center;
}
.poster_path {

    /* 모서리 둥글게 */
    border-radius: 10%; 

    width: 300px;
}

.title {
    font-size: 30px;
    font-style: italic;
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#search {
    font-size: 15px;

     /* 바깥 선 색 */
    outline-color: rgba(216, 216, 216, 0.902);
}

#searchbtn {
    font-size: 15px;
    color: white;
    background-color: black;
    margin-left: 10px;
}

#searchbtn:hover {
    font-size: 15px;
    color: white;
    background-color: black;
    margin-left: 10px;
    border: solid 3px gray;
}

.rank {
    font-size: 40px;

    /* 폰트 굵기 */
    font-weight: 900; 

    font-style: italic;
}

.search {

    /* 그리드 방식 : 두 방향(가로-세로) 레이아웃 시스템 */
    display: grid; 

    /* 행의 배치 */
    grid-template-rows: 50px 50px; 

     /* 열의 배치 */
    grid-template-columns: 250px 100px;
    
    margin-top: 20px;
}

#chartbtn {
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-style: italic;
    color: black;
    background-color: white;
    border: 4px solid;
    margin: auto auto 50px auto;
    border-radius: 10%;

}

/* focus 클릭 되었을 때 */
#chartbtn:focus, 

/* hover 커서를 가져다 댔을 때 */
#chartbtn:hover { 
    
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-style: italic;
    color: white;
    background-color: black;
    border: 4px solid black;
    margin: auto auto 50px auto;
    border-radius: 10%;
}

#mobilebtn,
#desktopbtn {
    width: 100px;
    height: 30px;
    border: none;
}

#mobilebtn:hover,
#mobilebtn:focus,
#desktopbtn:hover,
#desktopbtn:focus {
    width: 100px;
    height: 30px;
    border: solid 2px black;
}

#lovebtn {
    width: 50px;
    height: 50px;
    border: none;
    font-size: 30px;
    color : rgb(115, 0, 23);
    background-color: white;
    margin: 0px 0px 0px 20px;
}

#lovebtn:hover{
    width: 50px;
    height: 50px;
    border: none;
    font-size: 30px;
    color : red;
    background-color: white;
    margin: 0px 0px 0px 20px;
}

.love{
    font-style: italic;
    font-weight: 900;
    margin: 0px 0px 20px 60px;
}

.vote_average{
    font-weight: 900;
}
.showpopularity{
    font-style: italic;
    font-weight: 600;
}

.memo{
    width: 200px;
    padding: 0px 30px 0px 30px;
    height : 100px;
}
.memobox{
    width: 130px;
}
.memoinput{
     width: 200px;
     height : 100px;
     overflow: scroll;
}