 /* mobile용 css */
 /* index.css와 동일한 주석은 생략한다. */
 /* 모바일에서의 가독성을 위해 요소들의 크기를 늘렸다. */

.card-body {
    padding: 0px 18px 0px 18px;
}
.cardtitle{
    /* 카드 제목 폰트 사이즈를 늘렸다. */
    font-size: 40px;
     
}
.overview {
     /* 줄거리 폰트 사이즈를 늘렸다. */
    font-size: 30px;
    font-style: italic;
    
}

.vote_average {
     /* 평점 폰트 사이즈를 늘렸다. */
    font-size: 30px;
    
}

.card {
     /* 카드 넓이를 늘렸다. */
    width: 500px;
    margin: 0px 8px 6px 8px;

}


.cards {
    display: flex;

    /* flex-direction: column; 을 통해 카드를 세로로 붙인다. */
    flex-direction: column;

    align-items: center;
    justify-content: center;
     
}

.poster_path {
    border-radius: 10%;
}

.title {
    font-size: 30px;
    font-style: italic;
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#search{
    font-size: 15px;
    outline-color: rgba(216, 216, 216, 0.902);
}

#searchbtn {
    font-size: 15px;
    color: white;
    background-color: black;
    margin-left: 10px;
}
#searchbtn:hover {
    font-size: 15px;
    color: white;
    background-color: black;
    margin-left: 10px;
    border:solid 3px gray;
}
.rank{
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
}

.search{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 250px 100px;
    margin-top: 20px;
  }

  #chartbtn{
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-style: italic;
    color: black;
    background-color: white;
    border: 4px solid;
    margin: auto auto 50px auto;
    border-radius: 10%;

  }
  #chartbtn:focus ,#chartbtn:hover{
    width: 180px;
    height: 40px;
    font-size: 20px;
    font-style: italic;
    color: white;
    background-color: black;
    border: 4px solid black ;
    margin: auto auto 50px auto;
    border-radius: 10%;
  }
  #mobilebtn, #desktopbtn{
    width: 100px;
    height: 30px;
    border : none;
  }
  #mobilebtn:hover, #mobilebtn:focus, #desktopbtn:hover, #desktopbtn:focus{
    width: 100px;
    height: 30px;
    border : solid 2px black;
  }
  #lovebtn {
    /* 버튼 크기를 늘렸다. */
    width: 100px;
    height: 100px;
    border: none;
    font-size: 90px;
    color : rgb(115, 0, 23);
    background-color: white;
    margin: 0px 0px 0px 10px;
     

}

#lovebtn:hover{
    /* 버튼 크기를 늘렸다. */
    width: 100px;
    height: 100px;
    border: none;
    font-size: 90px;
    color : red;
    background-color: white;
    margin: 0px 0px 0px 10px;
    
}

.love{
    font-style: italic;
    font-weight: 900;

    /* 폰트 사이즈를 늘렸다. */
    font-size:30px;

    margin: 0px 0px 20px 60px;
    
}
.vote_average{
    font-weight: 900;
}
.showpopularity{
    font-style: italic;
    font-weight: 600;
}
